.container {
  display: flex;
  flex-direction: column;
  align-items: center;     
  text-align: center;     
  color:white;
  margin-right: 20px;
}

.userline {
  font-weight: bold;
  font-size: 34px;
  margin: 0px 109px 0px 0px;
  padding-right: 114px;
}

p {
      max-width: 450px;
    line-height: 1.5;
    font-weight: 19px;
    margin-top: 1px;
    font-size: 25px;
    color: #b8a2a2;
        padding-right: 42px;
}


.carousel-container {
  width: 85%;
  position: relative;
  padding: 0px 20px 0px 20px;
}

.carousel-slide {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  color: white;
  font-size: 24px;
}

.prevArrow,
.nextArrow {
  position: fixed;
  bottom: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 999;
}

.prevArrow {
  left: 20px; 
}

.nextArrow {
  right: 20px;
}

.prevArrow img,
.nextArrow img {
  width: 40px;  
  height: auto;
}


.mandala {
  position: absolute;
 right: -160px;
    top: 70%;
  transform: translateY(-50%);
  width: 400px; 
  opacity: 0.4;
  filter: drop-shadow(0 0 30px rgba(255,255,255,0.2));
  pointer-events: none;
  z-index: 0;
  animation: rotateMandalalogo 8s linear infinite;
}

@keyframes rotateMandalalogo {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



@keyframes blink {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}


