.signin-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}



.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  position: relative;
  padding-left: 500px;
  padding-right: 300px; 
  box-sizing: border-box;
  gap: 100px;
  z-index: 1;
  flex-wrap: nowrap; 
   
}


.aura-blob {
    position: absolute;
    left: 122.55px;
    z-index: 1;
}

.aura-blob img {
    width: 315.9px;  
    height: 323px;
    animation: spin 10s linear infinite; 
    transform-origin: center center;    
    
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.content-box {
  flex: 0 0 auto;
      max-width: 738px;
  height:300px;
  text-align: left;
  z-index: 2;
}

.headline {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.4;
  word-wrap: break-word;
}

.headline-subtext {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
}

.google-button {
  display: inline-flex;
  align-items: center;
  padding: 25.9px;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.3); 
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 25px;
  backdrop-filter: blur(4px); 
  transition: all 0.3s ease;
  width:515px;
  height:41px;
  gap:60px;
  font-family: 'Spartan';
}




.google-button img {
  width: 48px;
  height:48px;
  margin-right: 10px;
}

.google-button:hover {
  transform: translateY(-2px);
  border-color: rgba(255, 255, 255, 0.5);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.1) 100%);
}



.mandalalogo {
  position: absolute;
  left: 1205px;
  top: 35px;
  transform: translateY(-50%);
  width: 566px; 
  height:566px;
  opacity: 0.4;
  filter: drop-shadow(0 0 30px rgba(255,255,255,0.2));
  pointer-events: none;
  z-index: 0;
  animation: rotateMandalalogo 8s linear infinite;
}

@keyframes rotateMandalalogo {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



@keyframes blink {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}