.main-heading {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.heading {
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}

.sub-heading {
    font-size: 14px;
    color: #374151;
    display: inline-block;
}