 .main-Search-Container {
    display: flex;
    justify-content: center;
    align-items: flex-start;  /* Align to top */
    padding-top: 1px; /* Push it down from Navbar */
    width: 100%;
}
 
 .Search-Container {
  background: rgba(227, 133, 133, 0.362);
  padding: 10px 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  width: 800px;
  max-width: 90%;
  margin-top: 40px;
}

.icon {
    background-color: grey;
    height:30px;
    width:30px;
    border-radius: 15px;
}
.search-icon {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  padding: 5px;
}

.search-input {
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  flex: 1;
  outline: none;
}

.search-input::placeholder{
    color:white
}

