.category-selector {
  padding: 20px;
  color: #333;
}

.heading {
  font-size: 30px;
    margin-top: 6px;
    text-align: center;
    color: white;
    margin-left: 359px;
}

.subtext {
  font-size: 14px;
  max-width: 404px;
  margin: 0 auto 30px auto;
  text-align: center;
  color: white;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  /* reduced from 16px */
  row-gap: 10px;
  /* smaller vertical space */
  justify-items: center;
  align-items: start;
  max-width: 800px;
  margin: 0 auto;
}

.category-tile {
  background: white;
  color: #333;
  border-radius: 12px;
  padding: 12px 10px;
 width: 168px;
  /* reduced from 170px */
  height: 95px;
  /* reduced height slightly */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-tile.selected {
  background: linear-gradient(90deg, #ED0687 0%, #FE6C0F 100%);
  color: white;
}

.category-tile.selected .icon {
  color: white;
}

.tile-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  font-size: 16px;
  color: #9a2f93;
}

.category-tile h4 {
  margin: 0;
  font-size: 18px;
  max-width: 14px;
  font-weight: 500;
}

.category-tile p {
  font-size: 11px;
  margin: 0;
  line-height: 1.3;
}