.footer {
  width: 100%;
 /* padding: 35px 40px 10px 40px; */
  text-align: center;
  background: transparent;
  position: relative;
  z-index: 2;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0;
  /* padding: 20px; */

}

.footer-links li a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: rgba(255, 255, 255, 1);
}
