.main-navbar {
   display: flex;
  justify-content: center;
  align-items: center; /* optional, for vertical centering */
  width: 100%;
  position: relative;  /* or absolute/fixed */
  top: 21px;
}

/* .main-navbar-content {
    display: flex;
    align-items: center;
    gap: 25px;


} */

.logo {
    width: 67px;
    height: 67px;
    flex-shrink: 0;
}

.brand-name {
    /* color: #ffffff;
    font-size: 30px;

    font-weight: 700; */

    color: var(--White, #FFF);
text-align: center;
font-family: 'League Spartan';
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 36px */
}